body {
    text-align: center;
    background-color: #9b05ff;
}

header {
padding-top: 3%;
padding-bottom: 10;
font-size: 20px;
letter-spacing: 3%;
font-family: 'Times New Roman', Times, serif, 'Arial Narrow Bold', sans-serif, Times, serif , Haettenschweiler, 'Arial Narrow Bold', sans-serif;
color

img {
  border-radius: 50%;}
#heading {
     width: ;