body {
      text-align: center;
      background-color: #69ff05;
}

header {
    padding-top: 3%;

    padding-bottom: 10;
font-size: 20px;
letter-spacing: 3%;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, 'Arial Narrow Bold', sans-serif, Times, serif , Haettenschweiler, 'Arial Narrow Bold', sans-serif;
border: 24px solid black;
}

img {
    border-radius: 50%;}
#heading {
       width: ;


.box {


    background-color:aquamarine  ;
}




.box p {font-weight="900"






#heading {
    letter-spacing: 25px;
    font-size: 300%;
}

#headerText{
  padding-top: 2%;

}

img{


}




p {
    border: 20px solid red;
    border-radius: 10px;
  }
  












































       